<!DOCTYPE html>
<html>
<head>
  <title>Enter IP</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Enter ESP8266 IP Address</h2>
    <form action="/ip" method="POST">
      <input type="text" name="ip" placeholder="192.168.x.x" required />
      <button type="submit">Connect</button>
    </form>
  </div>
</body>
</html>
